# Blocklist files/folders in same directory as the .gitignore file
/*

# allow for all subdirectories, but not elegant (because it add redundant empty folders)
# !*/

# allow some files
!.gitignore
!README.md

# allow those files (in subdirectories)
!prog1_mandelbrot_threads
prog1_mandelbrot_threads/*
!prog1_mandelbrot_threads/mandelbrotThread.cpp
!prog1_mandelbrot_threads/mandelbrot.ipynb
!prog1_mandelbrot_threads/run.sh
!prog1_mandelbrot_threads/auto_nb.py
!prog1_mandelbrot_threads/plot*.png